body{
	background-color:#FF9999;
}

div{
    font-size: 1.25em;
    padding-bottom: .2em;
}

#weather-app{
	display:flex;
	flex-direction:column;
	align-items:center;
	font-family: 'IM Fell Double Pica', serif;
	
}

h1{
	text-align:center;
}

#temp{
	display:inline;
}

#scale-div{
	font-weight:bold;
	display:inline;
	cursor:pointer;
	color:#1A6E6E;
}

#scale-div:hover{
 transform: scale(2.1,2.1);
}

#weather-icon{
	max-height:120px;
	max-width:120px;
	width:50%;
	height:auto;
}
